In [66]:
import pandas as pd

In [67]:
train_df=pd.read_csv("F:/Data mining/titanic/train.csv")
test_df=pd.read_csv("F:/Data mining/titanic/test.csv")

#查看数据基础信息

In [68]:
print(train_df.columns.values)

['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

In [69]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [70]:
train_df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

#字段Age、Cabin缺失数据

In [71]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

#Age、Fare、Cabin 缺失数据

In [72]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

#通过分析与Survived的相关性来选取特征

In [73]:
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

#Tiket、Cabin重复率不高，无意义，去除

In [74]:
train_df.describe(include=["O"])

                             Name   Sex    Ticket        Cabin Embarked
count                         891   891       891          204      889
unique                        891     2       681          147        3
top     Graham, Mr. George Edward  male  CA. 2343  C23 C25 C27        S
freq                            1   577         7            4      644

#阶级的等级与是否存活具有较大的相关性

In [75]:
train_df[["Pclass", "Survived"]].groupby(["Pclass"], as_index=False).mean().sort_values(by="Survived", ascending=False)

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [76]:
train_df[["Sex", "Survived"]].groupby(["Sex"], as_index=False).mean().sort_values(by="Survived", ascending=False)

      Sex  Survived
0  female  0.742038
1    male  0.188908

SibSp、Parch与是否存活相关性不大，去除

In [77]:
train_df[["SibSp", "Survived"]].groupby(["SibSp"], as_index=False).mean().sort_values(by="Survived", ascending=False)

   SibSp  Survived
1      1  0.535885
2      2  0.464286
0      0  0.345395
3      3  0.250000
4      4  0.166667
5      5  0.000000
6      8  0.000000

In [78]:
train_df[["Parch", "Survived"]].groupby(["Parch"], as_index=False).mean().sort_values(by="Survived", ascending=False)

   Parch  Survived
3      3  0.600000
1      1  0.550847
2      2  0.500000
0      0  0.343658
5      5  0.200000
4      4  0.000000
6      6  0.000000

#根据上述分析，最终选取了5个特征

In [79]:
selected_features=["Pclass","Sex","Age","Embarked","Fare"]

In [80]:
X_train=train_df[selected_features]
X_test=test_df[selected_features]
y_train=train_df["Survived"]

#数据补全

In [81]:
print X_train["Embarked"].value_counts()
print X_test["Embarked"].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64
S    270
C    102
Q     46
Name: Embarked, dtype: int64

In [82]:
X_train["Embarked"].fillna("S",inplace=True)
X_test["Embarked"].fillna("S",inplace=True)

In [83]:
X_train["Age"].fillna(X_train["Age"].mean(),inplace=True)
X_test["Age"].fillna(X_test["Age"].mean(),inplace=True)

In [84]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
Pclass      891 non-null int64
Sex         891 non-null object
Age         891 non-null float64
Embarked    891 non-null object
Fare        891 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 34.9+ KB

In [85]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
Pclass      418 non-null int64
Sex         418 non-null object
Age         418 non-null float64
Embarked    418 non-null object
Fare        417 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 16.4+ KB

In [86]:
X_test["Fare"].fillna(X_test["Fare"].mean(),inplace=True)

In [87]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
Pclass      418 non-null int64
Sex         418 non-null object
Age         418 non-null float64
Embarked    418 non-null object
Fare        418 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 16.4+ KB

#特征向量化

In [88]:
from sklearn.feature_extraction import DictVectorizer
dict_vec=DictVectorizer()
X_train=dict_vec.fit_transform(X_train.to_dict(orient="record"))
X_test=dict_vec.fit_transform(X_test.to_dict(orient="record"))

#Logistic回归

In [89]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train,y_train)
y_lr_pred=lr.predict(X_test)
lr.score(X_train,y_train)

0.79236812570145898

#支持向量机

In [90]:
from sklearn.svm import LinearSVC
lsvc=LinearSVC()
lsvc.fit(X_train,y_train)
y_lsvc_pred=lsvc.predict(X_test)
lsvc.score(X_train,y_train)

0.79573512906846244

#K临近

In [91]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(X_train,y_train)
y_knn_pred=knn.predict(X_test)
knn.score(X_train,y_train)

0.81593714927048255

#决策树

In [92]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()
dtc.fit(X_train,y_train)
y_dtc_pred=dtc.predict(X_test)
dtc.score(X_train,y_train)

0.97979797979797978

#随机森林

In [93]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier()
rfc.fit(X_train,y_train)
y_rfc_pred=rfc.predict(X_test)
rfc.score(X_train,y_train)

0.96745230078563416

#随机梯度下降

In [94]:
from sklearn.linear_model import SGDClassifier
sgdc=SGDClassifier()
sgdc.fit(X_train,y_train)
y_sgdc_pred=sgdc.predict(X_test)
sgdc.score(X_train,y_train)

0.5824915824915825

#xgboost

In [95]:
from xgboost import XGBClassifier
xgbc=XGBClassifier()
xgbc.fit(X_train,y_train)
y_xgbc_pred=xgbc.predict(X_test)
xgbc.score(X_train,y_train)

0.87205387205387208

#使用5折交叉验证的方法进行性能评估

In [96]:
from sklearn.cross_validation import cross_val_score
cross_val_score(dtc,X_train,y_train,cv=5).mean()

0.77785836306075606

In [97]:
cross_val_score(rfc,X_train,y_train,cv=5).mean()

0.80470524901348939

In [98]:
cross_val_score(xgbc,X_train,y_train,cv=5).mean()

0.82160383036023643

#使用并行网络收索寻找超参组合，提高XGBC的性能

In [99]:
from sklearn.grid_search import GridSearchCV

In [100]:
params={"max_depth":range(2,7),"n_estimators":range(100,1100,200),"learning_rate":[0.25,0.1,0.25,0.5,1.0]}

In [101]:
xgbc_best=XGBClassifier()
gs=GridSearchCV(xgbc_best,params,n_jobs=-1,cv=5,verbose=1)
gs.fit(X_train,y_train)

Fitting 5 folds for each of 125 candidates, totalling 625 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   23.2s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:   59.2s
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done 625 out of 625 | elapsed:  2.8min finished

GridSearchCV(cv=5, error_score='raise',
       estimator=XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1),
       fit_params={}, iid=True, n_jobs=-1,
       param_grid={'n_estimators': [100, 300, 500, 700, 900], 'learning_rate': [0.25, 0.1, 0.25, 0.5, 1.0], 'max_depth': [2, 3, 4, 5, 6]},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=1)

In [102]:
print gs.best_score_
print gs.best_params_

0.837261503928
{'n_estimators': 300, 'learning_rate': 0.1, 'max_depth': 4}

In [103]:
xgbc_best_y_predict=gs.predict(X_test)

In [104]:
gs.score(X_train,y_train)

0.92704826038159371

#输出预测文件

In [105]:
dtc_submission=pd.DataFrame({"PassengerId":test_df["PassengerId"],"Survived":y_dtc_pred})

In [106]:
dtc_submission.to_csv("C:/Users/liuzhiwei/Desktop/ML/Practise/Titanic/dtc_submission.csv",index=False)

In [107]:
xgbc_best_submission=pd.DataFrame({"PassengerId":test_df["PassengerId"],"Survived":xgbc_best_y_predict})
xgbc_best_submission.to_csv("C:/Users/liuzhiwei/Desktop/ML/Practise/Titanic/xgbc_best_submission.csv",index=False)

In [108]:
rfc_submission=pd.DataFrame({"PassengerId":test_df["PassengerId"],"Survived":y_rfc_pred})
rfc_submission.to_csv("C:/Users/liuzhiwei/Desktop/ML/Practise/Titanic/rfc_submision.csv",index=False)